body{
    display: flex;
    color: white;
    text-decoration: none
}
a{
    text-decoration: none
}
#grid{
display: grid;
width: 100%;
grid-template-areas: "header header header header"  
                     "section section section section"
                     "cont cont cont cont"
                     "footer footer footer footer";
grid-template-rows: 0.4vw  48VW 25vw 10vw 10vw;
}
header{
    grid-area: header;
       background-color:#f5a637;
    display: flex
}

nav{
    grid-area: nav;
    display: flex;
    color: white;   
    width: 100%;
    justify-content: center;
    margin-top: 10px
}
nav h1{
    display: flex;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    font-family: 'Playball', cursive;
    font-size: 35px;
    margin: 0;
    
}
nav div{
    display: flex;
}
nav a{
    color: white
}
nav :hover{
    color: #f5a637
}
.menu p{
    padding: 30px 10px 0 10px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    
}
section hr {
    width: 100%;
    border-color: #f5a637
}
section{
    display: flex;
    grid-area: section;
    background-image:url(../IMG/burger.jpg);
    background-color: black;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100%;
}
strong{
    color: #f5a637
}
section{
align-items: center;
text-align: center;
flex-direction: column
}
#section{
    text-align: center;
    width: 400px;
    height: 75px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
section div h1{
    color: #f5a637;
    font-size: 50pt;
    margin-bottom: 45px;
    margin-top: 45px;
    font-family: 'Playball', cursive;
    
}
#section i{
    font-size: 35px;
    padding-top:30px;
    width: 50px;
    height: auto;
    color: white;
    justify-content: space-around
}
#section i:hover{
    color: #f5a637
}
button{
    grid-area: section;
    align-items: center;
    margin-top: 80px;
    background: none;
    color: white;
    border-color: #f5a637;
    width: 150px;
    height: 50px;
    font: bolder;
    font-size: 14pt
}

button:hover{
    color: #f5a637;
    cursor: pointer;
}
#cont{
    background: rgb(255,149,1);
    background: linear-gradient(90deg, rgba(255,149,1,1) 0%, rgba(241,164,55,1) 52%, rgba(227,250,255,1) 99%);
    grid-area: cont;
}
footer{
    grid-area: footer;
    background-color: aqua
}
